# Strings

<!-- <p><a href=#createString> Create String </a></p> -->

####  Print a string that uses double quotation marks inside the string.

In [34]:
Name=("Rana")
Name

'Rana'

#### Print a string that uses an apostrophe inside the string.

In [35]:
Name1="Mr.Rana'B"
Name1

"Mr.Rana'B"

#### Print a string that spans multiple lines, with whitespace preserved.

In [36]:
print(""" I Rana from Hyderabad, 
   have so many talents""")

 I Rana from Hyderabad,
   have so many talents

####  Print a string that is coded on multiple lines but displays on a single line.

In [37]:
M_lines=(""" I Rana from Hyderabad, \
have so many talents """)
print(M_lines)

 I Rana from Hyderabad, have so many talents

<p id=createString></p>

#### Create a string and print its length using the len() function.

In [38]:
Name="Rana"
len(Name)

4

####   Create two strings, concatenate them, and print the resulting string.

In [39]:
F_N="Rana"
L_N="Baby"
print(F_N+L_N)

RanaBaby

#### Create two strings and use concatenation to add a space inbetween them.

In [40]:
F_N="Rana"
L_N="Baby"
print(F_N +" "+ L_N)

Rana Baby

####  Print the string "zing" by using slice notation on the string
#### "bazinga" to specify the correct range of characters

In [41]:
Text="bazinga"
Text[2:-1]

'zing'

#### Write a script that converts the following strings to lowercase and uppercase:

"Animals","Badger", "Honey Bee", "Honeybadger". Print each lowercase
string on a separate line.

In [42]:
L_case="ANIMALS"
L_case.lower()
U_case="honey"
U_case.upper()

'HONEY'

####  Write a script that removes whitespace from the following strings:

In [45]:
string1 = " Filet Mignon"
string2 = "Brisket "
string3 = " Cheeseburger "
string1.lstrip()
string2.rstrip()
string3.strip()

'Cheeseburger'

#### Write a script that prints out the result of .startswith("be") on each of the following strings:

In [47]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = " bEautiful"

string1.startswith("be")
string2.startswith("be")
string3.startswith("be")
string4.startswith("be")

False

#### Using the above strings, write a script that uses string methods to alter each string so that .startswith("be")
#### returns True for all of them.

In [59]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = " bEautiful"

string1.lower()
string1_1=string1.lower()
string1_1
string1_1.startswith("be")

string2.startswith("be")

string3.lower()
string3=string3.lower()
string3.startswith("be")


# string4  = string4.lstrip().lower()   ~it's called string chaining.
string4.startswith("be")

True