# Strings

## Review Exercises.

<!-- <p><a href=#createString> Create String </a></p> -->

####  Print a string that uses double quotation marks inside the string.

In [34]:
Name=("Rana")
Name

'Rana'

#### Print a string that uses an apostrophe inside the string.

In [35]:
Name1="Mr.Rana'B"
Name1

"Mr.Rana'B"

#### Print a string that spans multiple lines, with whitespace preserved.

In [36]:
print(""" I Rana from Hyderabad, 
   have so many talents""")

 I Rana from Hyderabad,
   have so many talents

####  Print a string that is coded on multiple lines but displays on a single line.

In [37]:
M_lines=(""" I Rana from Hyderabad, \
have so many talents """)
print(M_lines)

 I Rana from Hyderabad, have so many talents

<p id=createString></p>

#### Create a string and print its length using the len() function.

In [38]:
Name="Rana"
len(Name)

4

####   Create two strings, concatenate them, and print the resulting string.

In [39]:
F_N="Rana"
L_N="Baby"
print(F_N+L_N)

RanaBaby

#### Create two strings and use concatenation to add a space inbetween them.

In [40]:
F_N="Rana"
L_N="Baby"
print(F_N +" "+ L_N)

Rana Baby

####  Print the string "zing" by using slice notation on the string
#### "bazinga" to specify the correct range of characters

In [41]:
Text="bazinga"
Text[2:-1]

'zing'

#### Write a script that converts the following strings to lowercase and uppercase:

"Animals","Badger", "Honey Bee", "Honeybadger". Print each lowercase
string on a separate line.

In [42]:
L_case="ANIMALS"
L_case.lower()
U_case="honey"
U_case.upper()

'HONEY'

####  Write a script that removes whitespace from the following strings:

In [45]:
string1 = " Filet Mignon"
string2 = "Brisket "
string3 = " Cheeseburger "
string1.lstrip()
string2.rstrip()
string3.strip()

'Cheeseburger'

#### Write a script that prints out the result of .startswith("be") on each of the following strings:

In [47]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = " bEautiful"

string1.startswith("be")
string2.startswith("be")
string3.startswith("be")
string4.startswith("be")

False

#### Using the above strings, write a script that uses string methods to alter each string so that .startswith("be")
#### returns True for all of them.

In [59]:
string1 = "Becomes"
string2 = "becomes"
string3 = "BEAR"
string4 = " bEautiful"

string1.lower()
string1_1=string1.lower()
string1_1
string1_1.startswith("be")

string2.startswith("be")

string3.lower()
string3=string3.lower()
string3.startswith("be")


# string4  = string4.lstrip().lower()   ~it's called string chaining.
string4.startswith("be")

True

#### Write a script that takes input from the user and displays that input back.

In [5]:
Dominos=input()
print("You're fav pizza",Dominos)

Dominos
You're fav pizza Dominos

#### Write a script that takes input from the user and displays the input in lowercase.

In [1]:
Dominos=input().lower()
print("You're fav pizza",Dominos)

Cheese BUST
You're fav pizza cheese bust

#### Write a script that takes input from the user and displays the number of characters inputted.

In [5]:
Msg=input("Enter your Name ")
print("Length of %s is %s"%(Msg,len(Msg)))

Enter your Name Rana
Length of Rana is 4

#### Create a string containing an integer, then convert that string into an actual integer object using int(). 

#### Test that your new object is a number by multiplying it by another number and displaying the result.

In [17]:
Cakes=int("10")
Cakes=Cakes*2
Cakes

20

#### Repeat the previous exercise, but use a floating-point number and float().

In [19]:
Weight=float("10.3")
Weight=Weight*3
Weight

30.900000000000002

####  Create a string object and an integer object, then display them sideby- side with a single print statement by using the str() function.

In [7]:
Text="Rana"
T=2
print(Text + str(T) )

Rana2

######   Write a script that gets two numbers from the user using the input() function twice, multiplies the numbers together, and
###### displays the result. If the user enters 2 and 4, your program should
print the following text:

The product of 2 and 4 is 8.0.

In [7]:
num=input("Enter the number to be mult ")
mult_num=float(num) * 2
print("The product of 2 is",mult_num)

Enter the number to be mult 2
The product of 2 is 4.0

In [10]:
num1=input("Enter first number ")
num2=input("Enter second number ")
mult=float(num1)*float(num2)
print("The product of 2 and 4 is",mult)

Enter first number 2
Enter second number 4
The product of 2 and 4 is 8.0

##### *  Create a float object named weight with the value 0.2, and create a string object named animal with the value "newt". Then use these
##### objects to print the following string using only string concatenation:
0.2 kg is the weight of the newt.



####  * Display the same string by using the .format() method and empty {} place-holders.
#### *  Display the same string using an f-string.

In [23]:
Weight= 0.2
Animal= "newt"

print("%s kg is the weight of the %s"%(Weight,Animal)) #----preferable way.

# string_con = str(Weight)+" kg is the weight of the "+Animal
# print(string_con)

0.2 kg is the weight of the newt
0.2 kg is the weight fo the newt

#### In one line of code, display the result of trying to .find() the substring "a" in the string "AAA". The result should be -1.

In [26]:
Text="AAA"
Text.find("a")

-1

#### Replace every occurrence of the character "s" with "x" in the string "Somebody said something to Samantha.".

In [25]:
Sen="Somebody said something to Samantha."
Sen.replace("s","x")

'Somebody xaid xomething to Samantha.'

#### Write and test a script that accepts user input using the input() function and displays the result of trying to .find() a particular
#### letter in that input.

In [28]:
Msg="I want Ice-cream Cake"
Msg.find("Ice")

7