## Data Types

In [62]:
x = 1

In [54]:
type(x)

int

In [55]:
x = 5.6

In [56]:
type(x)

float

In [58]:
x = "stringgggg"

In [59]:
type(x)

str

In [60]:
x = True

In [61]:
type(x)

bool

### Memory address

In [64]:
a = 1

In [65]:
id(a)

140367560317232

In [66]:
a = [1,2,3]

In [67]:
id(a)

140367663186496

In [68]:
b = a

In [69]:
b

[1, 2, 3]

In [70]:
id(b)

140367663186496

In [71]:
a.append(4)

In [72]:
a

[1, 2, 3, 4]

In [73]:
id(a)

140367663186496

In [74]:
b

[1, 2, 3, 4]

In [75]:
id(b)

140367663186496

In [76]:
aa = 1

In [77]:
id(aa)

140367560317232

In [78]:
bb = 1

In [79]:
id(bb)

140367560317232

In [80]:
xx = "a"

In [81]:
id(xx)

140367564051120

In [82]:
yy = "a"

In [83]:
id(yy)

140367564051120

In [84]:
pp = "Manideep"

In [85]:
id(pp)

140367662543664

In [87]:
vv = "Manideep"

In [88]:
id(vv)

140367662543664

## Data Structures

### Tuples
* Tuples are immutable

In [134]:
x = (1,2,3)

In [135]:
x = x + (4,)
x

(1, 2, 3, 4)

In [136]:
# (4*2)+(5*3)

In [137]:
type(x)

tuple

In [126]:
x[0] = 0

TypeError: 'tuple' object does not support item assignment

### List
* Mutable

In [127]:
y = [1,2,3]

In [128]:
type(y)

list

In [129]:
y.append(4)
y.append([5,6,7])

In [130]:
y

[1, 2, 3, 4, [5, 6, 7]]

In [132]:
y[0] = 0

In [133]:
y

[0, 2, 3, 4, [5, 6, 7]]

### Set

In [138]:
z = {1,2,3}

In [139]:
z.add(4)
z

{1, 2, 3, 4}

In [140]:
type(z)

set

In [145]:
z = {1,3,3,4,4,4,4,2,2,2}

In [146]:
z

{1, 2, 3, 4}

### Dictionary

In [159]:
dictt1 = {"Name":"Manideep","salary":20000}

In [156]:
type(dictt1)

dict

In [157]:
dictt1.keys()

dict_keys(['Name', 'salary'])

In [158]:
dictt1.values()

dict_values(['Manideep', 20000])

In [163]:
dictt2 = {"Name":["Manideep","Shravani"],"salary":[20000,25000]}

In [164]:
dictt2.keys()

dict_keys(['Name', 'salary'])

In [165]:
dictt2.values()

dict_values([['Manideep', 'Shravani'], [20000, 25000]])

In [175]:
dictt2.items()

dict_items([('Name', ['Manideep', 'Shravani']), ('salary', [20000, 25000])])

dictionary to pandas dataframe

In [1]:
import pandas as pd
dictTodf = pd.DataFrame(dictt2)

ModuleNotFoundError: No module named 'pandas'

In [181]:
dictTodf

       Name  salary
0  Manideep   20000
1  Shravani   25000

In [182]:
pd.DataFrame({"Name1":["x","y","z"],"Name2":["a","b","c"]})

  Name1 Name2
0     x     a
1     y     b
2     z     c

## Functions

In [189]:
def add(x,y):
    return x+y

In [190]:
add(1,2)

3

In [193]:
def multi(x,y):
    return x*y
multi(1,2)

2

In [207]:
def greet(Name,Age):
     print(f"Hi! {Name} you're {Age} year old")

In [208]:
greet("Rana",1)

Hi! Rana you're 1 year old

In [212]:
def result(Name):
    if len(Name)>5:
        print("You're Name is Big")
    else:
        print("You're Name is not Big")

In [218]:
result("Rana")

You're Name is not Big

In [259]:
def soln(x,y):
    print(f"The addn of {x},{y} is {x+y}")
    print("The addn of %s,%s is %s"%(x,y,x+y))
    
soln(1,2)

The addn of 1,2 is 3
The addn of 1,2 is 3

In [248]:
soln(1,2)

(3, -1, 2, 1)

In [42]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y


print("Select operation")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

x=int(input("First value "))
y=int(input("Second value "))

U_C=input("Select Operation")
if U_C == "1":
    res = add(x,y)
    print(" Addn of x,y",res )
    
elif U_C == "2":
    print(" subn of x,y", add(x,y))

else:
    print("Ty")

Select operation
1.Add
2.Subtract
3.Multiply
4.Divide
First value 1
Second value 2
Select Operation1
 Addn of x,y 3

In [33]:
def calc():
    x=int(input("Enter the first value : "))
    y=int(input("Enter the second value : "))

    print("\nSelect operation")
    print("1.Add")
    print("2.Subtract")
    print("3.Multiply")
    print("4.Divide")

    Op_type=input("\nSelect operation : ")

    if Op_type == "1":
        print("\nAddition of %s,%s is %s"%(x,y,x+y))
    elif Op_type == "2":
        print("\nSubtraction of %s,%s is %s"%(x,y,x-y))
    elif Op_type == "3":
        print("\nMultiplication of %s,%s is %s"%(x,y,x*y))
    elif Op_type == "4":
        print("\nDivision of %s,%s is %s"%(x,y,x/y))
    else:
        print("Operation Invalid")

In [35]:
switch = 1

while switch == 1:
    calc()
    Choice = input("\nDo you want to use calculator again (y/n) ?")
    if Choice == "y":
        continue
    else:
        switch = 0
        print("Thank you")

Enter the first value : 2
Enter the second value : 3

Select operation
1.Add
2.Subtract
3.Multiply
4.Divide

Select operation : 4

Division of 2,3 is 0.6666666666666666

Do you want to use calculator again (y/n) ?n
Thank you

In [ ]:
------------------
x = 34545

In [ ]:
y = str(x)

In [ ]:
mulValue = 1
for i in range(len(y)):
    mulValue = mulValue*int(y[i])
print(mulValue)

In [ ]:
# -----how iteration works
# i1=1*1=1
# i1=1
# i2=1*2=2
# i2=2
# i3=2*3=6
# i3=6

In [9]:
a=[1,2,3]
alis=[ele**2 for ele in a]
print(alis)

[1, 4, 9]

In [13]:
a1=[2,34.5,5]
b1=[11111,2,3]
a1lis=[ x*y for x,y in zip(a1,b1)]
print(a1lis)

[22222, 69.0, 15]

In [62]:
v = ("a","e","i","o","u")
# type(v)
print(v)

('a', 'e', 'i', 'o', 'u')

In [63]:

for va in v:
    print([va.upper()])

['A']
['E']
['I']
['O']
['U']

In [64]:
print([v.upper()])

AttributeError: 'tuple' object has no attribute 'upper'

In [67]:
# va
v

('a', 'e', 'i', 'o', 'u')

In [78]:
name,age,speed = "dog",23,1.5
# type(d)tuple packing
# age tuple unpacking

In [95]:
pizzas={"nonveg":"chicken","veg":"panner"}
pizzas["nonveg"]="mutton"
del pizzas["veg"]
pizzas

{'nonveg': 'mutton'}

In [107]:
import pandas as pd
pizzas={"nonveg":"chicken","veg":"panner"}

In [109]:
input_pizzas=pd.DataFrame(pizzas={"nonveg":"chicken","veg":"panner"})

TypeError: DataFrame.__init__() got an unexpected keyword argument 'pizzas'