In [8]:
Empty=" "
print(Empty)

In [7]:
print(Empty+"Rana")

 Rana

In [14]:
Bangaru_Name="Rana"
Bangaru_Name = Bangaru_Name.lower()
print(Bangaru_Name)
Bangaru_Name=Bangaru_Name.upper()
print(Bangaru_Name)

rana
RANA

### Problem 1
Take two inputs from user which is A (Name of a person) and B (Age of a person) and print name of the person Age number of times

In [31]:
A="Rana"
B=2
# print("%s is %s years old "%(A,(B*2)))
print(A * B)

RanaRana

### Problem 2
Take a string as input and print the reverse way of that string

If Rana is given, then the output should be anaR

In [32]:
Name="Rana"
Name[::-1]

'anaR'

### Problem 3

Take a string as input, remove extra spaces if any, remove special characters if any, convert the string to lowercase and add two dollar symbols infront of this string and store it into a variable. see if it is fibonaaci string or not

input string should be " Te n*eT"

In [33]:
Movie = "Te n*eT"
Movie.replace(" ","")
Movie.lower()

'te n*et'

In [30]:
Movie = ''.join(ele for ele in Movie if ele.isalnum())

In [34]:
Movie==Movie[::-1]

False

In [36]:
def fibonaaciCheck(text):
    Movie = text
    Movie=Movie.replace(" ","")
    Movie=Movie.lower()
    Movie = ''.join(ele for ele in Movie if ele.isalnum())
    print("cleaned text is %s"%Movie)
    print("text in reverse order is %s"%Movie[::-1])
    compare = Movie==Movie[::-1]
    if compare == True:
        print("Yes it is Fibonaaci")
    else:
        print("Not a Fibonaaci")

In [40]:
fibonaaciCheck("madam")

cleaned text is madam
text in reverse order is madam
Yes it is Fibonaaci

In [44]:
[ele for ele in Movie if ele.isalnum()]

['T', 'e', ' ', 'n', '*', 'e', 'T']

In [48]:
# "*".isalnum()   --- checks if the characters are alphanumeric or not.

In [6]:
Movie

NameError: name 'Movie' is not defined

In [56]:
Movie=Movie.replace("*"," ")
Movie=Movie.replace(" ","")
Movie.lower()
Movie==Movie[::-1]

True

In [12]:
Movie="Happy"
[ele for ele in Movie]

['H', 'a', 'p', 'p', 'y']

Exercise 1: Print First 10 natural numbers using while loop
Exercise 2: Print the following pattern
Exercise 3: Calculate the sum of all numbers from 1 to a given number
Exercise 4: Write a program to print multiplication table of a given number
Exercise 5: Display numbers from a list using loop
Exercise 6: Count the total number of digits in a number
Exercise 7: Print the following pattern
Exercise 8: Print list in reverse order using a loop
Exercise 9: Display numbers from -10 to -1 using for loop
Exercise 10: Use else block to display a message “Done” after successful execution of for loop
Exercise 11: Write a program to display all prime numbers within a range
Exercise 12: Display Fibonacci series up to 10 terms
Exercise 13: Find the factorial of a given number
Exercise 14: Reverse a given integer number
Exercise 15: Use a loop to display elements from a given list present at odd index positions
Exercise 16: Calculate the cube of all numbers from 1 to a given number
Exercise 17: Find the sum of the series upto n terms
Exercise 18: Print the following pattern

In [2]:
#1
switch = 1
Natural_Num=0
while switch:
    Natural_Num = Natural_Num+1
    if Natural_Num <= 10:
        print(Natural_Num)
    else:
        switch = 0
        print("These are the 10 Natural Numbers.")

1
2
3
4
5
6
7
8
9
10
These are the 10 Natural Numbers.