In [8]:
Empty=" "
print(Empty)

In [7]:
print(Empty+"Rana")

 Rana

In [14]:
Bangaru_Name="Rana"
Bangaru_Name = Bangaru_Name.lower()
print(Bangaru_Name)
Bangaru_Name=Bangaru_Name.upper()
print(Bangaru_Name)

rana
RANA

### Problem 1
Take two inputs from user which is A (Name of a person) and B (Age of a person) and print name of the person Age number of times

In [31]:
A="Rana"
B=2
# print("%s is %s years old "%(A,(B*2)))
print(A * B)

RanaRana

### Problem 2
Take a string as input and print the reverse way of that string

If Rana is given, then the output should be anaR

In [32]:
Name="Rana"
Name[::-1]

'anaR'

### Problem 3

Take a string as input, remove extra spaces if any, remove special characters if any, convert the string to lowercase and add two dollar symbols infront of this string and store it into a variable. see if it is fibonaaci string or not

input string should be " Te n*eT"

In [33]:
Movie = "Te n*eT"
Movie.replace(" ","")
Movie.lower()

'te n*et'

In [30]:
Movie = ''.join(ele for ele in Movie if ele.isalnum())

In [34]:
Movie==Movie[::-1]

False

In [36]:
def fibonaaciCheck(text):
    Movie = text
    Movie=Movie.replace(" ","")
    Movie=Movie.lower()
    Movie = ''.join(ele for ele in Movie if ele.isalnum())
    print("cleaned text is %s"%Movie)
    print("text in reverse order is %s"%Movie[::-1])
    compare = Movie==Movie[::-1]
    if compare == True:
        print("Yes it is Fibonaaci")
    else:
        print("Not a Fibonaaci")

In [40]:
fibonaaciCheck("madam")

cleaned text is madam
text in reverse order is madam
Yes it is Fibonaaci

In [44]:
[ele for ele in Movie if ele.isalnum()]

['T', 'e', ' ', 'n', '*', 'e', 'T']

In [48]:
# "*".isalnum()   --- checks if the characters are alphanumeric or not.

In [6]:
Movie

NameError: name 'Movie' is not defined

In [56]:
Movie=Movie.replace("*"," ")
Movie=Movie.replace(" ","")
Movie.lower()
Movie==Movie[::-1]

True

In [12]:
Movie="Happy"
[ele for ele in Movie]

['H', 'a', 'p', 'p', 'y']

Print First 10 natural numbers using while loop

In [1]:
switch = 1
Natural_Num=0
while switch:
    Natural_Num = Natural_Num+1
    if Natural_Num <= 10:
        print(Natural_Num)
    else:
        switch = 0
        print("These are the 10 Natural Numbers.")

1
2
3
4
5
6
7
8
9
10
These are the 10 Natural Numbers.

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [61]:
def x(a,b):
    prod = (a*b)
    if prod <=1000:
        return prod
    else:
        return (a+b)

Ans=x(60,30)
print(Ans)

90

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [108]:
for ele in range(10):
    i=ele+1
    Ans=ele+i
#     print(Ans)
    print("Previous value is", ele, "Current value is ",i, "Sum is ",Ans)

Previous value is 0 Current value is  1 Sum is  1
Previous value is 1 Current value is  2 Sum is  3
Previous value is 2 Current value is  3 Sum is  5
Previous value is 3 Current value is  4 Sum is  7
Previous value is 4 Current value is  5 Sum is  9
Previous value is 5 Current value is  6 Sum is  11
Previous value is 6 Current value is  7 Sum is  13
Previous value is 7 Current value is  8 Sum is  15
Previous value is 8 Current value is  9 Sum is  17
Previous value is 9 Current value is  10 Sum is  19

Write a program to accept a string from the user and display characters that are present at an even index number.

In [122]:
Name="RanaBangaru"
range(len(Name))

range(0, 11)

In [121]:
Name[0::2]

'RnBnau'

In [129]:
for i in Name[0::2]:
    print(i)

R
n
B
n
a
u

Write a program to remove characters from a string starting from zero up to n and return a new string.

In [146]:
x="PyNative"
type(x)
x[2::]

'Native'

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [18]:
x = [10, 20, 30, 40, 10]
y = [55, 67, 25, 45, 56]

def v(x):
    if x[0]==x[-1]:
        return True
    else:
        return False

In [19]:
v(y)

False

In [151]:
x[0]==x[-1]

True

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [36]:
A = [10, 20, 33, 46, 55]
print("B:", A)
print('Divisible by 5:')
for i in A:
    if i%5==0:
        print(i)

B: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

Write a program to find how many times substring “Emma” appears in the given string.

In [43]:
X = "Emma is good developer. Emma is a writer"
X.count("Emma")

2

Print the following pattern

* 1 
* 2 2 
* 3 3 3 
* 4 4 4 4
* 5 5 5 5 5

In [51]:
for num in range(6):
    for i in range(num):
        print (num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Write a program to check if the given number is a palindrome number.

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [106]:
def x(A):
    if A==B:
        print("Yes. given number is palindrome number")
    else:
        print("No. given number is not palindrome number")
A="120"
B=A[::-1]

In [107]:
x(A)

No. given number is not palindrome number

In [83]:
x="Rana"
x[::-1]

'anaR'

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [141]:
def list(list1,list2):
    new_list=[]
    
    for i in list1:
        if i % 2 != 0:
            new_list.append(i)
            
    for i in list2:
        if i % 2 == 0:
            new_list.append(i)
            
    return new_list
   
        
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

In [142]:
print("The Combined List is :", list(list1,list2))

The Combined List is : [25, 35, 40, 60, 90]

 The given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [145]:
a="7536"
ask deepu

SyntaxError: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_14168/4148621435.py, line 2)

3 questions pending.

Write a program to accept two numbers from the user and calculate multiplication

In [2]:
x=int(input("First number: "))
y=int(input("Second number: "))

mult=x*y

print(mult)

First number: 4
Second number: 5
20

Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

print('Name', 'Is', 'James') will display Name** Is **James

In [6]:
print("Name","is","James",sep="***")

Name***is***James

Convert Decimal number to octal using print() output formatting

ask deepu

Display float number with 2 decimal places using print()

In [11]:
num = 458.541315
round(458.541315,2)

# comfirm with deepu

458.54

 Accept a list of 5 float numbers as an input from the user

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [16]:
totalMoney = 1000
quantity = 3
price = 450

print("I have %s dollars so I can buy %s footballs for %s dollars," %(totalMoney,quantity,price))

I have 1000 dollars so I can buy 3 footballs for 450 dollars,

3 questions pending 
try tmrw

s1 = "Ault"
s2 = "Kelly"

In [1]:
# AuKellylt
s1= "Ault"
s2="Kelly"

s3=s1+s2+"It"

In [2]:
s3

'AultKellyIt'

Write a program to create a function that takes two arguments, name and age, and print their value.

In [5]:
def trail(Name,Age):
    print(Name,Age)
trail("Rana",1)

Rana 1

Return multiple values from a function

In [10]:
def mult_f(x,y):
        sub=x-y
        add=x+y
        return sub,add
nums=mult_f(50,60) 
print(nums)

(-10, 110)

Create a function with default argument

In [11]:
def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

In [17]:
def a(x):
    if x:
        return x+a(x-1)
    else:
        return 0
res=a(10)
print(res)

55

Generate a Python list of all the even numbers between 4 to 30

In [18]:
list(range(4,30,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Find the largest item from a given list

In [20]:
x = [4, 6, 8, 24, 12, 2]
x1=max(x)
x1

24

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [34]:
num=[54, 44, 27, 79, 91, 41]
num1=num.pop(4)
num.insert(2,num1)
num.append(num1)
print(num1)

91

In [28]:
sample_list = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sample_list)
element = sample_list.pop(4)
print("List After removing element at index 4 ", sample_list)

sample_list.insert(2, element)
print("List after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("List after Adding element at last ", sample_list)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

Slice list into 3 equal chunks and reverse each chunk

In [6]:
chunk= [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunk1=chunk[0:3]
chunk1[::-1]

[8, 45, 11]

In [83]:
chunk

for i in range(3):
    chunk_r=reverse(chunk):
print(chunk_r)

SyntaxError: invalid syntax (Temp/ipykernel_10852/182391650.py, line 4)

In [19]:
sample_list = [34,56,56,23,12,34,34,89,78,78]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

Original list  [34, 56, 56, 23, 12, 34, 34, 89, 78, 78]
Printing count of each item   {34: 3, 56: 2, 23: 1, 12: 1, 89: 1, 78: 2}

Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [41]:
m_list = [87, 45, 41, 65, 94, 41, 99, 94]
print("m_list", m_list)

m_list = list(set(m_list))
print("l_list", m_list)

t = tuple(m_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))
type(m_list)

m_list [87, 45, 41, 65, 94, 41, 99, 94]
l_list [65, 99, 41, 45, 87, 94]
tuple  (65, 99, 41, 45, 87, 94)
Minimum number is:  41
Maximum number is:  99

list

In [45]:
m=list(set(m_list))
m=tuple(m)
type(m)

tuple

Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [54]:
list1= [47, 64, 69, 37, 76, 83, 95, 97]
dict1 = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

result=[ele for ele in list1 if ele in dict1.values()]
result

[47, 69, 76, 97]

Checks if one set is a subset or superset of another set. If found, delete all elements from that set

ask deepu

Reverse a list in Python

In [60]:
list1 = [100, 200, 300, 400, 500]
# list1.reverse()
list1[::-1]

[500, 400, 300, 200, 100]

Concatenate two lists index-wise

In [70]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
listr=[i+j for i,j in zip(list1,list2)]
print(listr)

['My', 'name', 'is', 'Kelly']

Given a list of numbers. write a program to turn every item of a list into its square.

In [89]:
numbers = [1, 2, 3, 4, 5, 6, 7,9]
nums=[]

for i in numbers:
    nums.append(i*i)
     
print(nums)

[1, 4, 9, 16, 25, 36, 49, 81]

Concatenate two lists in the following order

In [88]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

listl=[x+y for x in list1 for y in list2]
listl

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

In [101]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[3]=200
list1

[5, 10, 15, 200, 25, 50, 20]

write a program to remove all occurrences of item 20.

In [132]:
list1 = [5, 20, 15, 20, 25, 50, 20]


def removing_value(Name_list,value):
    
    result_list=[]
    
#      return [i for i in Name_list if i !=value]
    for i in Name_list:
        if i != value:
            result_list.append(i)
    
    return result_list
removing_value(list1,20)
# print(res)

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

Convert two lists into a dictionary

In [137]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

firstd=dict(zip(keys,values))
firstd

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Merge two Python dictionaries into one

In [141]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dictf={**dict1,**dict2}
dictf

# ask deepu

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Check if a value exists in a dictionary

In [4]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("There's the number.")

There's the number.

Rename key of a dictionary

In [9]:
dict1={"name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
      }
dict1["location"]=dict1.pop("city")
dict1

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}